body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #533017, #2c1e15);
}


header {
    margin-bottom: 20px;
    text-align: center; /*Wyśrodkowanie strony */
}

h1 {
    font-size: 28px;/* Rozmiar tytułu */
    color: #ffd700; /* Złoty kolor tytułu */
    text-shadow: 2px 2px 4px rgb(247, 247, 247); /* Cień tekstu */
    
    
}



main p:nth-child(1) {
    font-size: 28px;
    border: 2px solid #8B4513; /* Ramka w kolorze brązowym (przypominającym drewno) */
    padding: 10px; /* Wypełnienie wewnątrz ramki */
    max-width: 1000px; /* Maksymalna szerokość tekstu */
    background-color: #D2B48C; /* Tło w kolorze beżowym (przypominającym piasek) */
    color: #000; /* Kolor tekstu */
    margin: 0 auto;
    text-align: center;

    margin-top: 600px;
}

main p:nth-child(2) {
    font-size: 28px;
    border: 2px solid #8B4513; /* Ramka w kolorze brązowym (przypominającym drewno) */
    padding: 10px; /* Wypełnienie wewnątrz ramki */
    max-width: 1000px; /* Maksymalna szerokość tekstu */
    background-color: #D2B48C; /* Tło w kolorze beżowym (przypominającym piasek) */
    color: #000; /* Kolor tekstu */
    margin: 0 auto;
    text-align: center;

    margin-top: 35px;
}

img {
    display: block; /* Ustawienie elementu jako blokowego */
    margin: 0 auto; /* Wyśrodkowanie obrazu */
    margin-top: 20px;


}

.move-right {

    transform: scale(0.9);
}